<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        #show {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="이메일을 입력하세요" v-model="myMail"><br>
        <input type="password" placeholder="패스워드를 입력하세요" v-model="myPwd">

        <!-- 아래 버튼을 클릭하면 아래 div 영역에 이메일과 비밀번호를 출력해 주세요 -->
        <button id="buttons" v-on:click="showing()">확인</button>
        <!-- v-on: = @로 대체 가능 -->
        <div id="show">
            <br>
            입력된 이메일 : {{ myMail }}
            <br>
            입력된 패스워드 : {{ myPwd }}
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                myMail: "",
                myPwd: "",
            },
            methods: {
                showing() {
                    document.querySelector('#show').style.display = 'block';
                }
            }
        });
    </script>
</body>
</html>